<!DOCTYPE html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="mobile_home">
      <div id="header">
        <h1>TEMPEST</h1>
        <hr id="line">
      </div>
      <div id="setup">
        <div>kaka</div>
      </div>
  </div>
  </body>
</html>
