<!DOCTYPE html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="mobile_home">
        <div id="create_header">
            <div id="left_header">
                <button id="back"></button>
                <h1 style="margin-bottom: -15px;" >Create</h1>
                <h1>session</h1>
            </div>
            <div id="right_header">
                <img id="avatar" src="profile.png">
            </div>
      </div>
      <div id="main">
          <p id="hello">Hello, User</p>
          <textarea placeholder="What's The Main Idea?" id="text_input"></textarea>
      </div>
  </div>
  </body>
</html>