#mobile_home {
	width: 100%;
	height: 100%;
	display: grid ;
	grid-template-columns: 100%;
	grid-template-rows: 20% 80% ;
}

#create_header {
	background-color:#343434;
	display: grid ;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100;
	//align-items: center;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 20px;

}

#right_header{
    position: absolute;
	right: 2%; 
	top: 6%;
	margin-right: 20px;
}

#avatar {
	width: 60px;
    height: 60px;
	border-radius: 50%;
}

#back {
	height: 32px;
	padding-left: 36px;
	padding-right: 10px;
	background: transparent url("src/assets/left_arrow.png") no-repeat ;
	cursor: pointer;
	border: none;
}

#main {
	background-color: #506068;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 60% 20%;
}

#hello{
	margin-top: 20px;
	margin-left: 20px;
	font-weight: 300;
	font-size: 20px;
	color: white;
}

#text_input {
	width: 80%;
	margin-left: 40px;
	background-color: transparent;
	border-color: transparent;
	font-size: 30px;
	color: white;
}

::placeholder { 
	opacity: 0.5; 
	font-size: 20px;
  }

.button {
	margin: 12px;
	padding: 10px 40px;
	font-weight: 200;
	font-size: 30px;
	border-radius: 30px;
	border: none;
	background-color: #272727;
	color: white;
}

#next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: transparent url("src/assets/left_arrow.png") no-repeat;
	transform: rotate(180deg);
}

h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
}