<div class="toolbar">
  <section id="modes-controls">
    <app-toggle-button
      color="#c4c4c4"
      icon="assets/images/icon_cursor.svg"
    ></app-toggle-button>
    <app-toggle-button
      color="#c4c4c4"
      icon="assets/images/icon_grab.svg"
    ></app-toggle-button>
  </section>

  <section id="organisation-controls">
    <h5>Organise</h5>
    <app-toggle-button color="#c4c4c4" text="#TAG"></app-toggle-button>
    <app-toggle-button
      color="c4c4c4"
      icon="assets/images/icon_arrow.svg"
    ></app-toggle-button>
  </section>

  <section id="change-screen">
    <app-toggle-button color="#c4c4c4" text="Workspace"></app-toggle-button>
    <app-toggle-button color="#c4c4c4" text="Draft"></app-toggle-button>
  </section>

  <section id="save">
    <app-button color="#c4c4c4" text="Save Session"></app-button>
  </section>

  <section id="undo-redo">
    <app-button color="#c4c4c4" icon="assets/images/icon_undo.svg"></app-button>
    <app-button color="#c4c4c4" icon="assets/images/icon_redo.svg"></app-button>
  </section>

  <section id="zoom-controls">
    <app-button color="#c4c4c4"></app-button>
    <span>%</span>
    <app-button color="#c4c4c4"></app-button>
  </section>
</div>
