<!DOCTYPE html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="mobile_home">
        <div id="create_header">
            <div id="left_header">
                <button id="back"></button>
                <h1 style="margin-bottom: -15px;" >Create</h1>
                <h1>session</h1>
            </div>
            <div id="right_header">
                <img id="avatar" src="profile.png">
            </div>
      </div>
      <div id="main">
        <p>Overview</p>
        <div id="all">
            <div class="overview">
                <p style="margin-bottom: -7px;" >Main Idea</p>
                <h2>"Brainstorming Platform"</h2>
            </div>
            <div class="overview">
                <p style="margin-bottom: -7px;">Mode</p>
                <h2>Nominal</h2>
            </div>
            <div class="overview">
                <p style="margin-bottom: -7px;">Timer</p>
                <h2>05:00</h2>
            </div>
        </div>
        <button id="next">DONE</button>
      </div>
  </div>
  </body>
</html>
