<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ideas Wall</title>
  </head>
  <body>
    <div class="row justify-content-around">
      <div class="col-3">
        <img id="logo" src="../../../../assets/Group 14Logo.png" />
      </div>

      <div class="col-6" id="mode">Mode: <b> Nominal Brainstorming</b></div>
      <!--CLOCK TO BE-->
      <div class="col-3"></div>
    </div>

    <div class="row" id="workspace">
      <div class="col-4">a</div>
      <div class="col-4">b</div>
      <div class="col-4">c</div>
    </div>
  </body>
</html>
