#logo {
  width: 40%;
  padding: 0.2em;
}
#mode {
  text-align: center;
  background-color: #506768;
  padding: 0.8em;
  color: white;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}
#workspace {
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  height: 800px;
  background-color: #3e3e3e;
  border-radius: 2%;
}
