html {
  background-color: #ececec;
}
#logo {
  width: 40%;
  padding: 0.2em;
}
#mode {
  text-align: center;
  background-color: #506768;
  padding: 0.8em;
  color: white;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}
