#mobile_home {
	width: 100%;
	height: 100%;
	background-image: url("src/assets/Mobile_Background.png");
	background-size: cover;
	background-position: center ;
	display: grid ;
	grid-template-columns: 100%;
	grid-template-rows: 30% 70% ;
}
